@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPEiko';
  src: url('../src/fonts/PPFormula-Medium.otf');
}
@font-face {
  font-family: 'PPFormula';
  src: url('../src/fonts/PPFormula-Medium.otf');
}
@font-face {
  font-family: 'PPFormula';
  src: url('../src/fonts/PPFormula-Medium.otf');
}
@font-face {
  font-family: 'PPFormulaBold';
  src: url('../src/fonts/PPFormula-CondensedBold.otf');
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'PPEiko', sans-serif;
}
p,
a,
button {
  font-family: 'PPFormula', sans-serif;
}

body {
  background: #050a0d;
  color: white;
}

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  border-color: #2f2e2e;
}
input {
  border: 1px solid #565453;
  border-radius: 5px;
}

@layer components {
  .hero-img {
    @apply w-full bg-no-repeat bg-cover bg-hero-img;
    position: relative;
    width: 100%;
    height: 80vh;
  }
  .mobile-img {
    @apply w-full bg-no-repeat bg-contain bg-mobile-img;
    position: relative;
    width: 100%;
    height: 80vh;
  }
  .mobile-img::before {
    content: '';
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('./assets/png/fadeOverlay.png') no-repeat;
    background-size: cover;
  }
  .hero-img::before {
    content: '';
    width: 100%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('./assets/png/fadeOverlay.png') no-repeat;
    background-size: cover;
  }
  .hero-img .flex,
  .hero-img h1,
  .hero-img h4,
  .hero-img button {
    position: relative;
    z-index: 1;
  }
  .mobile-img .flex,
  .mobile-img h1,
  .mobile-img h4,
  .mobile-img button {
    position: relative;
    z-index: 1;
  }
  .img-border-bible {
    width: 335.502px;
    height: 462.586px;
    flex-shrink: 0;
    border-radius: 12.708px;
    background: #1b1b21;
    backdrop-filter: blur(6.354198455810547px);
  }
  .journey-container {
    @apply py-10;

    border-radius: 14px;
    background: #1b1b21;
    backdrop-filter: blur(3px);
    border: 1px solid rgb(91, 56, 23);
    transform: perspective(1000px) rotateY(15deg) translateZ(-100px);
  }
  .form-bg {
    border-radius: 20.071px;
    background: #fff;
    box-shadow: 0px 80.887px 106.077px 0px rgba(51, 51, 51, 0.1);
  }
  .textarea-class {
    width: 280px;
    height: 214px;
  }

  .modal-nav {
    width: 100vw;
    height: 100vh;
    background: #e8eaff44;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
  }

  .modal-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    animation: slidedown;
    animation-duration: 350ms;
    animation-timing-function: ease;
  }
  .close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  .text {
    color: #dc4a2b;
  }
  .close:hover,
  .close:focus {
    color: #b5afaf;
    text-decoration: none;
    cursor: pointer;
  }
  .red-tint {
    filter: grayscale(100%) brightness(50%) sepia(100%) hue-rotate(0deg)
      saturate(10000%);
  }

  @keyframes slidedown {
    from {
      left: -200px;
    }
    to {
      left: 0;
    }
  }
}
